{{#each this}}
<li class="card__film" data-action='{{id}}'>
   <div class="btn-id">
      <button data-id='{{id}}' class="btn-youtube">
         <div class="overlay-btn-youtube-text" data-id='{{id}}'>
            <h2 class="btn-youtube-text" data-id='{{id}}'>Movie Trailer</h2>
         </div>
      </button>

   </div>
   <div class="thumb">
      <img src="https://image.tmdb.org/t/p/w500{{poster_path}}" alt="{{title}} {{name}}" width="100%" data-id="{{id}}"
         onerror="this.onerror=null;this.src='https://ik.imagekit.io/tc8jxffbcvf/default-movie-portrait_EmJUj9Tda5wa.jpg?tr=fo-auto,di-';" />
      <span class="card__vote_average">{{vote_average}}</span>
   </div>
   <h2 class="card__title">{{title}} {{name}}</h2>
   <p class="card__text">
      <span>{{#each genres}} {{name}} {{/each}}</span> | <span>{{release_date}}</span>
   </p>
</li>
{{/each}}