{{#each this}}
 <li class="card__film">
    <img src="https://image.tmdb.org/t/p/w500{{poster_path}}" alt="{{title}} {{name}}" width="100%" />
      <h2 class="card__title">{{title}} {{name}}</h4>
       <p class="card__text">
          <span>{{genre_ids}}</span> | <span>{{release_date}}</span>
       </p>
 </li>
{{/each}}

